:root {
    --svg-password-edit-frame: url(/resources/password_edit_frame.svg);
}
.password-edit-frame {
    background-image: var(--svg-password-edit-frame);
    min-width: 677px;
    min-height: 195px;
}