:root {
    --svg-profile-frame: url(/resources/profile_frame.svg);

    

    --user-pic: url(/resources/user_pic.png);

    --svg-error-frame: url(/resources/error_frame.svg);
}

.content-row {
    position: relative;
}

.profile-frame {
    background-image: var(--svg-profile-frame);
    min-width: 660px;
    min-height: 370px;
}
.profile-name {
    position: absolute;
    bottom: 0;
    right: 7px;
}
.form-element-value {
    float: right;
}

.img-user {
    background-image: var(--user-pic);
    clip-path: path("M0 0H200V137L161 170H0V0Z");
}
.profile-pic_clickable {
    &:hover {
        --svg-profile-pic-frame_hover: var(--svg-profile-pic-frame_hover_hover);

        & .img{
            z-index: -1;
        }
    }
}

.pop-over {
    margin: 0;
    background: linear-gradient(#2c0c12d1 10%, #05090ee3 100%);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

.error-frame {
    background-image: var(--svg-error-frame);
    color: var(--main-color);
    min-width: 577px;
    min-height: 115px;
    padding: 10px 20px 0 70px;
}